{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<!-- styling is made directly into the tags because it would otherwise be overidden by the crisp -->
 
<h1 style="margin-top: 40px; margin-bottom: 20px;">{% trans "Sign Up" %}</h1>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" 
  style="max-width: 400px; margin: 20px auto;">
  {% csrf_token %}
  {{ form|crispy }}  <!-- Use crispy to render form -->

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <!-- Container for "Already have an account?" link and "Sign Up" button -->
  <div class="form-footer" 
    style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <p style="margin-top: 20px; margin-bottom: 20px; margin-top: 0px;">
      {% blocktrans %}
        Already have an account? <br> Then please <a href="{{ login_url }}">Log In</a>.
      {% endblocktrans %}
    </p>
    
    <button type="submit" class="primaryAction" style="width: 48%; align-self: center; margin-bottom: 40px;">
      {% trans "Sign Up" %}
    </button>
  </div>

  <div style="margin-bottom: 50px;"></div>
</form>

{% endblock content %}
