{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
        color: white;
    }

    body {
        background-color: black;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Oh! no!</h1>
            <h1>Error 500: Internal Server Error</h1>
            <img src="static/images/sheldon-oh-no-500.jpg" align="center"
                alt="Sitcom character Sheldon Cooper">
            <div>
                <a href="{% url 'home' %}" class="btn btn-signup btn-lg">
                    Go to Home Page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}