{% extends 'base.html' %}
{% load static %}

{% block unit %}


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Oh! no!</h1>
            <h6>Error 500: Internal Server Error</h6>
            <img src="{% static 'images/sheldon-oh-no-500.jpg' %}" alt="Sitcom character Sheldon Cooper"
                style="width:400px;height:auto;">
            <div>
                <a href="{% url 'index' %}" class="btn btn-signup btn-lg">
                    Go back to the Home Page!
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}