{% extends 'base.html' %}
{% load static %} <!--MAYBE DELETE I am not 100% sure if this file uses anything fromt he static folder, if not then this line should be deleted -->

<!--Syllabus-->
{% block syllabus %}
<!-- <h1>Syllabus</h1> -->
{% for unit in unit_list %} 
 <!--model name (Unit) and the view type (ListView) gives name-->

<div class="btn-group">
    <a href="{% url 'unit_detail' unit.unit_slug %}">
        <button type="button" onclick="{{unit.unit_title}}">{{unit.unit_title}}</button>
    </a>
</div>

{% endfor unit%}
{% endblock syllabus %}
<!--END OF Syllabus-->


<!--Footer-->
{% block footer %}
    Copyright 2024 Gustaf Enebog (index code)
{% endblock %}
<!-- END OF Footer-->