{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


<!--Unit-->
{% block unit %}
<h1>Unit</h1>
<p>unit_title: {{unit.unit_title}}</p>
<p>Author: {{unit.author}}</p>
<p>content: {{unit.content}}</p>
<a href="{% url 'UnitContent'%}">Back </a>

<!--Code from walkthrough-->
{% if "placeholder" in unit.featured_image.url %}
<img class="card-img-top" src="{% static 'images/default.jpg' %}"
  alt="placeholder image">
{% else %}
<img class="card-img-top" src=" {{ unit.featured_image.url }}"
  alt="{{ unit.title }}">
{% endif %}
<!--END OF Code from walkthrough-->

<!--Code from walkthrough displaying user notes -->
  <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>
  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Notes:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
          <p class="font-weight-bold">
            {{ comment.author }}
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span> wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">
            This note is awaiting approval
          </p>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>

    <!-- from walkthrough Crispy forms -->
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
          <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="commentForm" method="post"
              style="margin-top: 1.3em;">
              {{ comment_form | crispy }}
              {% csrf_token %}
              <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
          </div>
        </div>
<!-- END OF: from walkthrough Crispy forms -->
  </div>
<!--END OF Code from walkthrough displaying user notes -->

<img src="{% static 'images/definition-of-forces-on-airfoil.png' %}" alt="definition of forces on airfoil" width="400" height=auto>
{% endblock unit %}
<!--END OF Unit-->