{% extends 'textbook/base.html' %}

{% block unit %}
<h1>Syllabus</h1>
<!--{<h2>{{unit.title}}</h2>
<p>{{unit.excerpt}}</p>
<p>Author: {{unit.author}}</p>


{% for unit in object_list %}                    {{ post.author }}
    <h2>{{unit.title}}</h2>
    <p>{{unit.excerpt}}</p>
    <p>Author: {{unit.author}}</p>
    {% endfor %}-->
{% endblock %}



    <!-- ----------Main content - Unit---------- -->
    <main class="main">
        <!--col-1 to col-12-->
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-2 ps-0">
                    <div style="background-color: orange">
                        <!-- Been here -->
                        <input type="checkbox" id="unit-state-1" name="unit-state-1" value="Understood">
                        <label for="unit-state-1">Read</label><br>
                        <input type="checkbox" id="unit-state-2" name="unit-state-2" value="Understood">
                        <label for="unit-state-2">Understood</label><br>
                        <!-- Bookmark -->
                        <!-- Vlipboard -->
                    </div>
                </div>
                <div class="col-1">
                    <div style="background-color:orange">
                        <!-- <a href="index.html" class="active">Left</a> -->
                        <!-- Google font Keyboard Left -->
                                                                             <!-- Then there is Keyboard Arrow Up Down Left Right -->
                        <span class="material-symbols-outlined">
                            keyboard_arrow_left
                        </span>
                        <!-- END OF: Google font Keyboard Left -->
                    </div>
                </div>
                <div class="col-1">
                    <div style="background-color:yellow">
                        3
                    </div>
                </div>
                <div class="col-6">
                    <div style="background-color:greenyellow">
                        <!-- Google font Add Circle -->
                        <span class="material-symbols-outlined">
                            add_circle
                        </span>
                        <!-- END OF: Google font Add Circle -->
                        <!-- Google font Add Circle -->
                        <span class="material-symbols-outlined">
                            do_not_disturb_on
                        </span>
                        <!-- END OF: Google font Add Circle -->
                    </div>
                </div>
                <div class="col-1">
                    <div style="background-color:green">
                        <!-- Google font Keyboard Right -->
                                                                                <!-- Then there is Keyboard Arrow Up Down-->
                            <span class="material-symbols-outlined">
                                keyboard_arrow_right
                            </span>
                        <!-- END OF: Google font Keyboard Right-->

                        <!-- Google font thumb_up -->
                        <span class="material-symbols-outlined">
                            thumb_up
                            </span>
                        <!-- END OF: Google font thumb_up-->
                        <!-- Google font thumb_down -->
                        <span class="material-symbols-outlined">
                            thumb_down
                            </span>
                        <!-- END OF: Google font thumb_down-->
                    </div>
                </div>
                <div class="col-1">
                    <div style="background-color:purple">
                        <a href="" id="Print">Print</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ----------END of Main Content---------- -->