{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
        color: black;
    }

    body {
        background-color: white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>What You're Doing! you shouldn't be here!</h1>
            <h6>Error 403: Forbidden</h6>
            <img src="{% static ‘images/sheldon-you-shouldent-be-here.jpg’ %}"   
                alt="Sitcom character Sheldon Cooper" style="width:400px;height:auto;">
            <div>
                <a href="{% url 'UnitContent' %}" class="btn btn-signup btn-lg">
                    Go back to the Home Page!
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}