{% extends 'base.html' %}

{% block content %}
<style>
    h1 {
        color: black;
    }

    body {
        background-color: white;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>What You're Doing! you shouldn't be here!</h1>
            <h1>Error 403: Forbidden</h1>
            <img src="{% static ‘images/sheldon-you-shouldent-be-here.jpg’ %}" align="center"
                alt="Sitcom character Sheldon Cooper" width: 200px,
                height: auto>
            <div>
            <div>
                <a href="{% url 'UnitContent' %}" class="btn btn-signup btn-lg">
                    Go to Home Page
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}