{% extends 'base.html' %}
{% load static %}

{% block unit %}


<style>
    h1 {
        color: black;
    }

    body {
        background-color: white;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Bazinga!!</h1>
            <h6>Error 404: Not Found</h6>
            <img src="{% static 'images/sheldon-bazinga-404.jpg' %}" alt="Sitcom character Sheldon Cooper"
            style="display: block; margin: 0 auto; width: 400px; height: auto;">
            <div>
                <a href="{% url 'index' %}" class="btn btn-signup btn-lg">
                    Go back to the Home Page!
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}